.weather-widget {
  padding: 1em;
  background: #5fb3f9;
  text-align: center;
  border-radius: 5px;

  h6 {
    font-size: 1em;
    color: white;
    margin: 1em 0 0;
    font-weight: 400;
  }

  h5 {
    color: white;
    font-size: 1em;
    margin: 0;
  }

  h2 {
    color: white;
    font-size: 3.2em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: 400;
  }

  .degree {
    vertical-align: top;
  }

  .w-line {
    width: 100px;
    margin: .7em auto;
    border-bottom: 2px solid white;
  }

  .icon {
    width: 3.2em;
    height: 3.2em;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    color: white;
  }
}
